html {
    background-color: #212121;
    color: #eeeeee;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    letter-spacing: .025rem;
}

hr {
    border-color: rgba(255,255,255,.05);
}

h2 {
    color: #eeeeee;
}

h3 {
    color: #b55151;
}

b {
    color: rgba(255,255,255,.65)
}

.contenedor {
    padding: 1rem 4rem;
    margin: 2rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;
    background-color: rgba(255, 255,255,.025);
    border-radius: 1rem;
    box-shadow: .25rem .25rem 1rem 0rem rgba(0,0,0,.2);
}

img {
    height: 8rem;
}

.imagen {
    height: 8rem;
    display: grid;
    align-items: flex-end;
}

input {
    width: 40%;
    height: 2rem;
    background-color: transparent;
    border: 1px solid #b55151;
    color: #eee;
    cursor: pointer;
    border-radius: .4rem;
}

input:hover {
    background-color: #212121;
}

input:focus {
    border: none;
    color: #b55151;
}